a {
  color: #111;
  text-decoration: none;
  transition: $transition--speed color, $transition--speed box-shadow;

  @include underline(rgba(0, 0, 0, .25), $color--snuff);

  &:hover,
  &:focus {
    color: $color--primary;
    @include underline($color--primary, $color--snuff);
  }
}
