body, html {
  margin: 0;
  padding: 0;
  background-color: $color--mute;
  color: #000;
  //background-image: url(../img/theme/noise.png);
  background: linear-gradient(#fab3bb, #92fefe);
}

body {
  @extend .-dont-break-out;
  min-width: $min-width;
  padding-top: $navHeight*2;
  border: $bodyBorderWidth solid;
  border-top:0;
  border-bottom:0;
  border-image: linear-gradient(lighten(#fab3bb, 4), lighten(#92fefe, 4)) $bodyBorderWidth/1px stretch;
}
