/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url('../assets/font/IUSlgBbgyuDQpy87mBOAc3YhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url('../assets/font/0hS39AKxpJlEXQF3mVPgrnYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('../assets/font/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
  url('../assets/font/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: $font--family--base;
  font-size: $font--size;

  line-height: 1.35em;
}

::-moz-selection {
  color: #fff;
  background: $color--primary;
}

::selection {
  color: #fff;
  background: $color--primary;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font--family--heading;

  text-transform: uppercase;
  filter: contrast(1);
  color: #192146;
  @include phone() {
    text-align: left;
    line-height: 1em;
  }
}

h1, .h1 {
  font-size: $font--size--1;

  @include phone() {
    font-size: $font--size--1 * .8;
  }

  margin-top: 0;
  padding-top: 0.67em;
}

h2, .h2 {
  @include phone() {
    font-size: $font--size--2 * .8;
  }

  font-size: $font--size--2;
  padding-top: 0.5em;
  margin-bottom: .5em;
  margin-left: -27px;

  $maxRot: 3.0;
  $maxRotText: 1.5;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -1;
    padding: 0;
    top: 30px;
    left: -20px;
  }

  &::after {
    width: 60%
  }

  @for $i from 1 through 15 {
    @at-root {
      section:nth-child(#{$i}) {
        h2 {
          text-indent: - random(15)+px;
          transform: translate(0, -40%) rotate((random()*$maxRotText*2)-$maxRotText+deg);
        }

        $rotation: (random()*$maxRot*2)-$maxRot;
        h2::before {
          $color1: getRandomColor();
          $colorAsHSLUV: hsluv-from-hex($color1);
          $color2: hsluv((nth($colorAsHSLUV, 1) + 80), nth($colorAsHSLUV, 2), nth($colorAsHSLUV, 3));
          background: linear-gradient((45-$rotation)+deg, $color1, $color2 70%, rgba($color2, 0) 80%);
          transform: translate(0, -40%) rotate($rotation+deg) skew(($rotation)+deg);
        }

        h2::after {
          $rotation2: $rotation * -1;
          $color1: getRandomColor();
          $colorAsHSLUV: hsluv-from-hex($color1);
          $color2: hsluv((nth($colorAsHSLUV, 1) + 80), nth($colorAsHSLUV, 2), nth($colorAsHSLUV, 3));
          background: linear-gradient((45-$rotation2)+deg, $color1, $color2 70%, rgba($color2, 0) 80%);
          transform: translate(0, -40%) rotate($rotation2+deg) skew(($rotation2)+deg);
        }
      }
    }
  }
  position: relative;
  mix-blend-mode: hard-light;
}

h3, .h3 {
  @include phone() {
    font-size: $font--size--3 * .8;
  }

  font-size: $font--size--3;
  margin-top: 0.6em;
  padding-top: 0.5em;
  border-top: .2em solid;
  margin-bottom: 0.5em;
}

h4, .h4 {
  @include phone() {
    font-size: $font--size--4 * .8;
  }

  font-size: $font--size--4;

  margin-top: 0.6em;
  padding-top: 0.7em;
  border-top: .25em solid;
  margin-bottom: 0;
}