@include tablet--up {
  .l--columns--2 {
    column-count: 2;
  }
}

body {
  @include phone {
    font-size: 26px !important;
  }
}

address {
  font-style: normal;
}

@include tablet--up {
  .rules ul,
  .compo ul {
    column-count: 2;
    column-gap: $gutter;
    list-style-position: outside;
    padding-left: 0;

    li {
      break-inside: avoid-column;
      margin-left: 1em;
    }
    //}
  }
}

.-text--small {
  font-size: .8em;
}

#location {

  .location__link {
    clear: both;
    float: left;
  }

  @include tablet--up {
    .location-wrapper {
      display: flex;
    }

    .location__image,
    .location__text {
      width: 50%;
      display: inline-block;
    }
  }

  .location__image {
    margin-bottom: $gutter;
    margin-right: $gutter;
    overflow: hidden;
  }

  img {
    height: 100%;
    left: 50%;
    max-width: none;
    position: relative;
    transform: translate(-50%, 0);
  }
}

/*
:target::before {
  content: "";
  display: block;

  //height: 80px;
  //margin: -80px 0 0;

  @include tablet--up() {
    height: 30px;
    margin: -30px 0 0;
  }
}
*/

#about {
  @include tablet {
    font-size: 1.2em;
  }

  @include desktop {
    font-size: 1.45em;
    line-height: normal;
    text-align: justify;
  }
}

#social {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;

  @include tablet--down {
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 150;
  }

  i {
    font-size: 1em;
  }

  .language--switch {
    border: 2px solid;
    font-size: .5em;
    line-height: 2em;
    margin: .1em;
    padding: .5em;
  }
}