@mixin outline-box-rotated() {

  position: relative;
  z-index: 1;

  &:before {
    content: "";
    width: 100%;
    height: calc(100% - 120px);
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, #fff, rgba(255, 255, 255, .0) 66%);
    background-clip: content-box;
  }

  //generate a couple of rotation, unneeded ones will be removed from css minifier
  @for $i from 1 through 15 {

    $max-rot: 5.0;

    &:nth-child(#{$i})::before {
      $rotation: (random()*$max-rot*2)-$max-rot;
      $color-1: get-random-color();
      $color-as-hsluv: hsluv-from-hex($color-1);
      $color2: hsluv((nth($color-as-hsluv, 1) + 80), nth($color-as-hsluv, 2), nth($color-as-hsluv, 3));
      transform: skew($rotation+deg) rotate($rotation+deg);
      border: 20px solid #000;
      border-image: linear-gradient((45-$rotation)+deg, $color-1, $color2 70%, rgba($color2, 0) 80%) 10 stretch;
    }
  }
}
