#about {

  @include phone() {
    h1 {
      font-size: $font--size--3;
    }
  }

  h1 {
    float: left;
    line-height: 1em;
  }

  h3 {
    float: left;
    clear: both;
  }

  .logo {
    float: right;
    margin-right: -24px;
    @include tablet--up() {
      margin-top: -35px;
    }
  }

  .content {
    clear: both;
    padding-top: 24px;
  }
}