#impressions {
  //push section down to make room for slick slider buttons
  @include phone() {
    padding-bottom: 6em;
  }
}

.impressions__slider {
  .impressions__slider__slide {
    @include tablet--up(){
      background-color: #0c0f21;
    }

    margin: 0;
  }

  .impressions__slider__slide__image {
    max-height: 66vh;
    margin: 0 auto;
  }

  .impressions__slider__slide__caption {
    background: #fff;
    padding: 18px 10px 0;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    z-index: 10;
  }

  .slick-slide {
    border: 13px solid #fff;
  }

  &.slick-initialized .slick-slide {
    //center vertically
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  @include phone() {
    .slick-next,
    .slick-prev {
      bottom: -77px;
      width: 40%;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }
  }

  @include tablet--up() {
    .slick-next,
    .slick-prev {
      top: 40%;
    }

    .slick-next {
      right: -40px;
    }

    .slick-prev {
      left: -40px;
    }
  }
}