#impressions {
  //push section down to make room for slick slider buttons
  @include phone() {
    padding-bottom: 6em;
  }
}

.impressions__slider {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  max-height: 660px;
}

.impressions__slider.slick-initialized {
  visibility: visible;
  opacity: 1;
  //max-height: none;
}

.slick-slide {
  height: auto;
  width: auto;
  min-height: 600px;
}

@keyframes LoadingAnimation {
  0%{background-position:0 0}
  50%{background-position:100% 0}
  100%{background-position:0 0}
}

.impressions__slider {
  &__slide {
    margin: 0;

    @include tablet--up(){
      background:#192146;
    }
  }

  &__slide__image {
    min-width: 33%;
    min-height: 24px;

    margin: 0 auto;
    transition: min-height .277s;
    animation: LoadingAnimation 3s ease infinite;
    background:linear-gradient(45deg, #FCCF8C, #FF9A81, #FF7D8B, #F53C8A, #7772BC, #03C2EE);
    background-size: 200% 100%;
  }

  &__slide__caption {
    background: #fff;
    padding: 18px 10px 0;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    z-index: 10;
  }

  .slick-slide {
    border: 13px solid #fff;
  }

  &.slick-initialized .slick-slide {
    //center vertically
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  @include phone() {
    .slick-next,
    .slick-prev {
      bottom: -77px;
      width: 40%;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }
  }

  @include tablet--up() {
    .slick-next,
    .slick-prev {
      top: 40%;
    }

    .slick-next {
      right: -40px;
    }

    .slick-prev {
      left: -40px;
    }
  }
}