.impressions__slider {
  .impressions__slider__slide{
    background-color: #0c0f21;
  }

  .impressions__slider__slide__image {
    max-height: 66vh;
    margin: 0 auto;
  }

  .impressions__slider__slide__caption{
    background: #fff;
    padding: 18px 10px 0;
  }
  
  .slick-next,
  .slick-prev {
    position: absolute;
    z-index: 10;
  }

  .slick-slide{
    border: 13px solid #fff;
  }

  @include phone() {
    .slick-next,
    .slick-prev {
      bottom: 0;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }
  }

  @include tablet--up() {
    .slick-next,
    .slick-prev {
      top: 40%;
    }

    .slick-next {
      right: -40px;
    }

    .slick-prev {
      left: -40px;
    }
  }
}