#location {
  @include tablet--up(){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "heading heading"
            "address ."
            "description map"
            "description .";
  }

  h2{
    grid-area: address;
  }
}

.location__address{
  grid-area: address;
  @extend h4;
}

.location__list {
  padding: 0 1em;
  margin: 0;
}

.map{
  &__link{
    grid-area: map;

    margin-top: 1em;
    display: block;
    position: relative;

    border: 5px solid #192146;
    box-shadow: 10px 10px 0 0 #192146;
    margin-bottom: 1em;
  }

  &__description {
    grid-area: description;

    padding-bottom: 24px;
    padding-right: 42px;
  }

  &__text {
    background: rgba(255, 255, 255, .75);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 24px;

    font-family: $font--family--heading;
  }

  &__image {
    width: 100%;
    display: block;
  }
}