.location__list {
  padding: 0 1em;
  margin: 0;
}

.map__link {
  margin-top: 1em;
  @include tablet--up() {
    float: left;
    width: 50%;
  }
}

.map__description {
  padding-bottom: 24px;

  @include tablet--up() {
    float: left;
    width: 50%;
  }
}

.map__image {
  width: 100%;
  @include phone() {
    padding-bottom: 24px;
  }

  @include tablet--up() {
    padding-right: 42px;
  }
}

.location__address {
  @extend h4;
}