.location__list {
  padding: 0 1em;
  margin: 0;
}

.map__link {
  margin-top: 1em;
  display: block;
  position: relative;

  border: 5px solid #192146;
  box-shadow: 10px 10px 0 0 #192146;

  @include tablet--up() {
    float: left;
    width: 50%;
  }
}

.map__text {
  background: rgba(255, 255, 255, .75);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 24px;

  font-family: $font--family--heading;
}

.map__description {
  padding-bottom: 24px;
  padding-right: 42px;

  @include tablet--up() {
    float: left;
    width: 50%;
  }
}

.map__image {
  width: 100%;
  display: block;
}

.location__address {
  @extend h4;
}