nav {
  text-align: center;
  margin: 0;
  top: 0;
  font-size: 28px; //$font--size--4;
  font-family: $font--family--heading;
  text-transform: uppercase;
  z-index: 100;
  width: 100%;

  position: fixed;
  min-height: $navHeight;
  background: rgba(250, 179, 187, 0.99);

  @include tablet--up() {
    left: $bodyBorderWidth;
    right: $bodyBorderWidth;

    background: linear-gradient(90deg, rgba(250, 179, 187, 0.99) 80%, transparent);

    body & ul {
      display: flex;
      justify-content: space-around;
      padding-left: 0;
    }
  }

  li {
    margin: 0 .5em;
    display: inline-block;
  }

  .logo-container {
    @include phone() {
      display: none;
    }
  }

  .logo {
    @include tablet--up() {
      display: inline-block;
      background: url(../assets/img/deadline--logo.png) no-repeat;
      background-size: 100%;
      width: 82px;
      height: 66px;
      margin-bottom: -40px;
    }
  }
}

nav ul {
  display: inline-block;
}

@include phone() {
  nav {
    padding-top: 0;
    padding-bottom: 0;

    ul {
      @include grid();
      margin: .5em 0 0;
    }

    li {
      width: 33%;
      float: left;
      display: inline-block;
      text-align: left;
      margin: 0;
      margin-bottom: 1em;

      //remove logo li
      &:last-child {
        display: none;
      }
    }
  }
}

@include tablet() {
  nav {
    font-size: 1em;
  }
}