nav {
  text-align: center;
  margin: 0;
  //padding: 1rem 0;
  top:0;
  font-size: $font--size--4;
  font-family: $font--family--heading;
  text-transform: uppercase;
  z-index: 100;

  position: fixed;
  min-height: $navHeight;
  left: $bodyBorderWidth;
  right: $bodyBorderWidth;
  background: rgba(#fab3bb, .99);

  li {
    margin: 0 .5em;
    display: inline-block;
  }
}