#register {

  .registrations {
    padding-top: 20px;
    display: inline-block;
  }

  .human {
    &:nth-child(odd) {
      background: rgba(255, 255, 255, .5);
    }

    border: 3px solid black;
    float: left;
    width: 31%;
    padding: 20px;
    font-size: 14px;
    margin: 10px;
  }

  .nick, .groups {
    float: left;
  }

  .nick::after {
    content: "®";
    font-size: .83em;
    vertical-align: super;
    padding-left: .1em;
    line-height: normal;
  }

  .groups {
    opacity: .5;
    padding-left: .5em;
  }
}