section {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 42px 32px;

  //--start push down, so anchors are not behind navbar
  @include phone() {
    padding-top: 250px;
    margin-bottom: 100px;

    &:before {
      height: calc(100% - 190px);
      bottom: 0;
    }
  }
  @include tablet--up() {
    padding-top: 140px;
    margin-bottom: 100px;
  }

  h2 {
    margin-top: -20px;
  }

  &.first {
    padding-top: 0;
    margin-bottom: 0;
  }
  //-- end pushdown

  @include phone() {
    margin-bottom: 3em;
    padding-bottom: 2em;
  }

  @include tablet--up() {
    min-height: calc(100vh - 12rem);
  }

  @include outlineBoxRotated();
}
