section {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 42px 72px;

  //--start push down, so anchors are not behind navbar
  @include phone() {
    padding-top: 32px;
    margin-bottom: 100px;

    &:before {
      height: calc(100% - 100px);
      bottom: 0;
    }
  }

  @include tablet--up() {
    margin-bottom:42px;
    padding-top: 160px;
    padding-bottom: 90px;
  }

  h2 {
    @include tablet--up() {
      margin-top: -20px;
    }
  }

  &.first {
    padding-top: 0;
    margin-bottom: 0;
  }
  //-- end pushdown

  @include outline-box-rotated();
}