$component: c-timetable;

.#{$component} {

  @include tablet--up() {
    @include grid();

    &__day {
      width: 33.3%;
    }
  }

  &__entries {
    list-style-type: none;
    padding: 0;
  }

  &__entries__entry {
    display: grid;
    align-items: start;

    grid-template-columns: .3fr 1fr;

    @include tablet--up(){
      grid-template-columns: .37fr 1fr;
    }

    grid-template-areas: "time description";
  }

  &__time {
    padding: 4px;
    text-align: center;

    min-width: 80px;
    white-space: nowrap;
  }

  &__filter,
  &__time {
    color: #fff;
    font-weight: bold;
    padding-left: 3px;
    font-family: $font--family--heading;
  }

  &__filters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include phone() {
      padding-bottom: 20px;
    }

    @include tablet--up() {
      width: 100%;
      clear: both;
      float: left;
    }
  }

  //TODO make checkbox button element?
  &__filter {
    text-transform: uppercase;
    float: left;
    margin: 14px;
    padding: 5px 10px 7px 47px;
    transition: background-color .277s;
    border-radius: 1px;
    cursor: pointer;
    outline: 5px solid #192146;
    box-shadow: 10px 10px 0 #192146;
    position: relative;
    z-index: 1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 100%;
      top: 0;
      left: 0;
    }

    &::after {
      outline: 3px solid #192146;
    }

    &::before {
      margin: 3px;
      width: 28px;
      height: 82%;
      background: #192146;
      opacity: .25;
      transition: opacity .277s;
    }

    &:hover {
      &::before {
        opacity: .5;
      }
    }

    &.active::before {
      opacity: 1;
    }
  }

  &__entries__entry {
    transition: opacity .277s;
    opacity: 1;
    margin-top: 7px;
    &.mute {
      opacity: .25;
    }
  }

  &__filter[data-filter="all"] {
    background: #857171;
    text-shadow: 0 0 10px darken(#857171, 15);
  }

  &__filter[data-filter="all"] {
    background: nth(map_get($palette, "lavender_pink"), 3);
    text-shadow: 0 0 10px darken(#857171, 15);
  }

  // red green color blindness has been taken into account when chosing this colours
  .deadline &__time,
  &__filter[data-filter="deadline"] {
    background: nth(map_get($palette, "sail"), 3);
    text-shadow: 0 0 10px darken(nth(map_get($palette, "sail"), 3), 15);
  }

  .event &__time,
  &__filter[data-filter="event"] {
    background: #E3C646;
    text-shadow: 0 0 10px darken(#E3C646, 15);
  }

  .compo &__time,
  &__filter[data-filter="compo"] {
    background: nth(map_get($palette, "perfume"), 3);
    text-shadow: 0 0 10px darken(nth(map_get($palette, "perfume"), 3), 15);
  }

  .seminar &__time,
  &__filter[data-filter="seminar"] {
    background: nth(map_get($palette, "astra"), 3);
    text-shadow: 0 0 10px darken(nth(map_get($palette, "astra"), 3), 30);
  }

  &__time {
    grid-area: time;
    margin-right: 10px;
  }
  &__description {
    grid-area: description;
    margin-top: 5px;
  }
}