//-extends _layouts/deadline2017
doctype html
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        meta(name="theme-color" content="#d47983")
        include _components/meta
        link(rel="manifest" href="manifest.json")
        link(rel="stylesheet" href="css/style.css")
        block head_end

    body
        if navigation.isActive
            include _components/navigation
        if header.isActive
            include _components/header
        if about.isActive
            include _components/about
        if livestream.isActive
            include _components/livestream
        if location.isActive
            include _components/location
        if impressions.isActive
            include _components/impressions
        if timetable.isActive
            include _components/timetable
        if register.isActive
            include _components/register
        if seminar.isActive
            include _components/seminar
        if compos.isActive
            include _components/compos

        footer
            include _components/sponsors
            include _components/contact
            include _components/history

        //include _components/background
        script(type="text/javascript" src="assets/vendor/intersectionObserver/intersection-observer.js")
        script.
            (function () {
                Array.prototype.forEach.call(
                    document.querySelectorAll('[data-lazy-load]'),
                    function (el) { this.observe(el) },
                    new IntersectionObserver(function (changes, observer) {
                        changes.forEach(function (change) {
                            if (!change.isIntersecting)
                                return;
                            change.target.lazyLoad && change.target.lazyLoad();
                            observer.unobserve(change.target);
                        });
                    })
                );
            })();

        include _components/tracking
        //
            This website has been built in mopsgeschwindigkeit
    block body_end

