extends _layouts/deadline2017

append head_end
    link(rel="stylesheet" href="/css/style.css")

append body_end
    script(type="text/javascript" src="/js/script.js")

include _partials/header
include _partials/about
include _partials/location
include _partials/impressions