extends _layouts/deadline2017

append head_end
    link(rel="stylesheet" href="/css/style.css")

append body_end
    script(type="text/javascript" src="/js/script.js")


    include _components/navigation
    include _components/header
    if about.isActive
        include _components/about

    include _components/location
    include _components/impressions
    include _components/timetable