section#impressions(aria-label="impressions")
    h2=impressions.title
        a.header-anchor(href="#impressions" aria-hidden="true")= "¶"
    p=impressions.content

append head_end
    link(rel="stylesheet" type="text/css" href="slick/slick.css")
append body_end
    script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript" src="slick/slick.min.js")
