section#about(aria-label="about", data-lazy-load).first
    h1 !{about.title}

    img.logo(data-lazy-src="assets/img/deadline--logo--big.png" alt="Deadline Logo")
    h3 29.09. - 01.10.2017
    p.content
        span A non-commercial computer arts and multimedia festival held annually for the fourth time.
        br
        br
        span Expect a wide variety of creative competitions, groovy live-acts, mindblowing seminars, retro-gaming and much more yet to be announced!
        br
        br
        span Come and join us for a weekend full of fun, and meeting of old and new friends!

    script.
        document.getElementById('about').lazyLoad = function () {
            var img = document.querySelector('#about .logo');
            img.src = img.getAttribute('data-lazy-src');
        }