section#about(aria-label="about").first
    h1 !{about.title}

    img.logo(src="assets/img/deadline--logo--phone.png")
    p.content
        span Come and join us for a weekend full of fun, competitions and meeting of old and new friends  – for the fourth time in the pulsating city of Berlin, Germany!
        br
        br
        span Expect a wide variety of competitions, amazing live-acts, seminars, retro-gaming and much more yet to be announced!