section#compos(aria-label="compos")
    h2=compos.title
    a.header-anchor(href="#compos" aria-hidden="true")= anchorSymbol

    div.compo
        h3 General Rules
        ul
            li First rule: Be creative and have fun!
            li We invite everybody to take part in our compos, no matter if you are a beginner or a scene veteran.
            li Your contribution must not have been released before.
            li You must hand in Contributions before the respective compo deadline.
            li In case of too few compo entries for one compo (eg. less than three) the party organizers can cancel or combine competitions.
            li By taking part in a competition you agree that we spread your entry (e.g. through scene.org) and that we’re allowed to use it in non-commercial promotions for upcoming editions of Deadline demoparty.
            li We will disqualify entries containing content which violates German law or are unsuitable.
            li If your entry contains commercial material it will be disqualified as well.
            li If you have questions about these rules, contact the organizers at <a href="mailto:contact@demoparty.berlin">contact@demoparty.berlin</a>

    h3 Remote Entries
    div You can’t make it to the party, but would like to participate?
    b We accept remote entries for all compos!
    div Please send your remote entries to <a href="mailto:contact@demoparty.berlin">contact@demoparty.berlin</a>.
    div The deadline for remote entry submission is Oct. 5th 2019, 13:00 (CET)
    div Please note: If you win a prize we will try to send it to you or bring it to another demoparty, eg. Revision to hand it over. This usually works out well, but no guarantee.
    h4 Livestream
    div We will have a livestream again thanks to our friends at Scenesat and Viprinet. Once live, it will be available at: <a href="https://scenesat.com/video">Scenesat Live Stream</a>

    div.compo
        h3.compo__title Executable Competitions
        div.compo_rules
            h4 PC Demo
            p We have two Windows compomachines with the following specs:
                ul
                    li CPU: Core i7-7700K 4,2GHz / Ryzen 5 3600
                    li RAM: 16GB RAM (both)
                    li Graphics: NVIDIA GeForce GTX Titan X Pascal /  NVIDIA  GeForce GTX Titan X Maxwell
                    li OS: Windows 10 64bit latest version and latest WHQL NVidia drivers (both)
                span Kindly provided by Tastatur und Maus e.V. Thanks! 🧡
            ul
                li If you plan to release a MaxOS X or Linux production please contact us before the party so that we can make sure we have the right OS ready for you.
                li No size limit.
                li Maximum running time is 10 minutes.

            h4 PC 64K Intro
            ul
                li Maximum file size of intro executable is 64 KB (65.536 bytes). All other files in the archive of the intro will be deleted before showing the entry in the competition.
                li Maximum running time is 10 minutes.

            h4 PC 4K Intro
            ul
                li Maximum file size of intro executable is 4 KB (4.096 bytes). All other files in the archive of the intro will be deleted before showing the entry in the competition.
                li Maximum running time is 10 minutes.

            h4 Oldschool Platforms
            ul
                li We can provide a C64 (new or old SID + 1541U2), Atari 1040STE, Atari Falcon 060, Amiga 500+1260, Sega Mega Drive (Model 2 with Mega-Amp Sound-mod).
                li DOS entries are run in DOSBox 0.74 or DOSBox-X (recent Git version). If you need special settings, tell us in the release notes or provide a dosbox.conf file with your release.
                li We allow every other oldschool platform with 8 and 16 bit as well – but please bring your own hardware then.
                li If you can't bring your own hardware, please tell us in advance and we'll see what we can do.
                li Please contact us in advance in case of unconventional video signals.
                li Maximum running time is 10 minutes.
                li If possible, please also hand in a video of your entry.

            h4 256 Byte Intro
            ul
                li Entries must be one-file, and that file must be 256 bytes or less.
                li Entries will be shown for approx. 1 minute.
                li Any oldschool platform is accepted
                li DOS entries are run in DOSBox 0.74 or DOSBox-X (recent Git version). If you need special settings, tell us in the release notes or provide a dosbox.conf file with your release.

    div.compo
        h3.compo__title Other Competitions
        div.compo__rules
            h4 Three-Dee Compo (Red/Cyan glasses)
            ul
                li Deadline will again enter the third dimension! Put on your glasses and follow us in three-dee hyperspace! (tm)
                li Allowed formats: Everything that outputs a red/cyan picture e.g. graphics / (GIF) animations / executables (newschool and oldschool)
                li Red/cyan glasses will be provided at the party
                li If you need one in advance for testing, please send us your address and we’ll try to send you one via mail

            h4 Video & Animation
            ul
                li Maximum running time is 10 minutes

            h4 Wild
            ul
                li Anything possible (It can be run on any other platform, which is not listed in other competitions)
                li No size limit
                li Maximum running time is 10 minutes
                li Either bring the platform and we will try to hook it up, or include a digital video of your entry, or perform it on the stage!

            h4#retrogaming Retrogaming Championship
            ul
                li To be announced soon

    div.compo
        h3.compo__title Graphic Competitions
        div.compo__rules
            ul
                li Up to two entries per artist and graphics competition allowed.
                li We recommend that you also provide a list of the tools you have used to create your entry
                li Please make sure that your entry is free of third-party rights!

            h4 Freestyle Graphics
            ul
                li You can use every tool you wish (pixel/render/scan & retouch), just be creative.
                li The entry should be delivered in .png/.bmp/.tga format (lossless)
                li Maximum resolution/bit depth: 1920×1080 / 24 bit
                li You must include working stages of your entry.
                li Note: This is a graphics compo, not a photo compo (we will not accept pure photos in this compo - check the themed photo compo)

            h4 Oldschool (Executable) Graphics
            ul
                li Entry must be in a native graphics format for an oldskool platform.
                li Entries for platforms without a standardized image format (Atari XL, C64, …) must be handed in as executable. Otherwise, a picture in a standard image format (e.g. IFF on Amiga) is accepted.
                li Animations are not allowed (except for scrolling)

            h4 ASCII/ANSI/PETSCII
            ul
                li ASCII and ANSI: Maximum width is 80 characters, no maximum height/lines.
                li PETSCII: Maximum width is 40 characters, maximum height is 25 characters.
                li No XBIN, custom pallets or Ansimations.
                li Please declare whether your ASCII should be displayed as PC or Amiga ASCII
                li PC ASCII is shown using 80×25 VGA mode in the compo
                li Amiga ASCII will be shown using AcidView’s built-in topaz font in the compo.
                li If you’re unsure whether your entry will be displayed correctly, provide a PNG as a fallback along with the original file (optional)
                li Please provide a thumbnail for the voting system (optional)
                li If there are enough entries, we might split the compo into PC ASCII/ANSI, Amiga ASCII and PETSCII.

            h4 Themed Photo
            ul
                li The theme this year is "God save the screen". Go get creative!
                li It has to be the competitor who took the picture
                li Retouching and collages are allowed
                li If it’s not a pure Photo: Do not forget your working stages (without them your entry will be disqualified)
                li Please do ensure your entry includes the original, unmodified picture(s)

    div.compo
        h3.compo__title Music Competitions
        div.compo__rules
            ul
                li Up to two entries per artist and music competition allowed.
                li The composer of any music released or used in any competition must not be registered at any copyright society. This includes – but is not limited to – all members of BIEM (take a look at their website for more information). Notably GEMA is a member of BIEM.
            h4 Streaming Music
            ul
                li Entry must be in MP3, OGG, OPUS or FLAC format.
                li Maximum playing time is 4 minutes. If your entry is longer it will be faded out between 4:00 and 4:10
                li Do not use any copyrighted material in your track.
                li Entries will be played back using the latest XMPlay.
            h4 Tracked Music
            ul
                li Entry must be in any format supported by OpenMPT (MOD, XM, S3M, IT and many others).
                li We will play back entries using the latest xmp-openmpt plugin for XMPlay.
                li Maximum playing time is 4 minutes. If your entry is longer it will be faded out between 4:00 and 4:10.
                li Please specify if you want any specific playback settings in xmp-openmpt (e.g. interpolation, stereo separation)
                li The number of channels used will be mentioned on the bigscreen during the competition.
                li Size Limit : 2 MB
            h4 Oldschool Music
            ul
                li Allowed formats:
                li SID (please specify if new or old)
                li Atari ST SNDH
                li AHX+HVL
                li AdLib/OPL3 (RAD2/ADT2)
                li Maximum playing time is 4 minutes. If your entry is longer it will be faded out between 4:00 and 4:10.