nav
    ul
        each key, value in Object.keys(locals).reverse()
            if locals[key].isActive && !locals[key].hideFromNavigation
                li
                    a(href= '#' + key)=key
        li
            img.logo(data-lazy-src="assets/img/deadline--logo.png").-js-lazy-load(data-lazy-id="navigation")
    script.
        var Navigation = (function () {
            return {
                load: function () {
                    var img = document.querySelector('.logo');
                    img.src = img.getAttribute('data-lazy-src');
                }
            };
        }());