nav#navigation(data-lazy-load)
    ul
        each key, value in Object.keys(locals).reverse()
            if locals[key].isActive && !locals[key].hideFromNavigation
                li
                    a(href= '/#' + key)=key
        li.logo-container
            a.logo(href="/")