nav
    ul
        each key, value in Object.keys(locals).reverse()
            if locals[key].isActive && !locals[key].hideFromNavigation
                li
                    a(href= '#' + key)=key
        li
            img.logo(src="assets/img/deadline--logo.png")