section#register(aria-label="register", data-lazy-load)
    h2=register.title
        a.header-anchor(href="#register" aria-hidden="true")= anchorSymbol
    p.
        Let your friends know you'll attend. So far <span class="js-registration-count"></span> humans already did!

    form(action="//deadline.untergrund.net/api/" name="register")
        input(name="nick" aria-label="nick" placeholder="nick (needed)")
        input(name="groups" aria-label="group" placeholder="group (joined)")
        input(name="email" aria-label="email" type="email" placeholder="email (not shown)")
        button.button--small.js-submit-registration(aria-label="submit").
            submit
        div.registrations.js-registrations.registrations--collapsed
        div.button.button--small.js-collapse(aria-hidden="true" data-collapse=".registrations")= "Show all"
    script.
        (function(){
            var $collapseButton = $('.js-collapse'),
                $collapsable = $($collapseButton.attr("data-collapse"));

            $collapseButton.on('click', function(){
                $collapsable.toggleClass('registrations--collapsed');
                $collapseButton.text($collapsable.hasClass('registrations--collapsed') ? "Show all" : "Show only a few");
            })

            var $form = $('form[name=register]'),
                $regCountElement = $('.js-registration-count'),
                url = $form.attr('action');

            $form.submit(function(){
                $.post(url, $(this).serialize(), function(json) {
                    $form[0].reset();
                    showContent(json);

                }, 'json');
                return false;
            });

            function showContent(json){
                var list = "";
                json.registrations.reverse().map(function(reg){
                    var groups = "";
                    if(reg.groups){
                        groups = '<div class="groups">'+ reg.groups +'</div>';
                    }

                    list += '<div class="human"><div class="nick">'+ reg.nick  +'</div>' + groups +'</div>';
                });

                updateVisitorCount(json);

                $('.js-registrations').empty().append(list);
            }

            function updateVisitorCount(json){
                var count = (json.registrations || []).length;
                $regCountElement.text(count);
            }

            document.getElementById('register').lazyLoad = function () {
                $.getJSON(url, function(json){
                    showContent(json);
                });
            }
        })();
