section#register(aria-label="register")
    h2=register.title
        a.header-anchor(href="#register" aria-hidden="true")= anchorSymbol
    p.
        Let your friends know you'll attend.<br>

    form(action="//deadline.untergrund.net/api/" name="register")
        input(name="nick" placeholder="nick (needed)")
        input(name="group" placeholder="group (joined)")
        input(name="email" type="email" placeholder="email (not shown)")
        button.button--small.js-submit-registration.
            submit
        div.registrations.js-registrations
    script.
        $(document).ready(function () {
            var url = $('form[name=register]').attr('action');

            //press x to json
            $.getJSON(url, function( json ) {
                showContent(json);
            });

            $('form[name=register]').submit(function(){
                $.post(url, $(this).serialize(), function(json) {
                    showContent(json);
                }, 'json');
                return false;
            });

            function showContent(json){
                var list = "";
                json.registrations.map(function(reg){
                    var groups = "";
                    if(reg.groups){
                        groups = '<div class="groups">'+ reg.groups +'</div>';
                    }

                    list += '<div class="human"><div class="nick">'+ reg.nick  +'</div>' + groups +'</div>';
                });

                $('.js-registrations').empty().append(list);
            }
        });
