section#register(aria-label="register")
    h2=register.title
        a.header-anchor(href="#register" aria-hidden="true")= anchorSymbol
    p.
        Let your friends know you'll attend. So far <span class="js-registration-count"></span> humans already did!

    form(action="//deadline.untergrund.net/api/" name="register")
        input(name="nick" placeholder="nick (needed)")
        input(name="group" placeholder="group (joined)")
        input(name="email" type="email" placeholder="email (not shown)")
        button.button--small.js-submit-registration.
            submit
        div.registrations.js-registrations
    script.
        $(document).ready(function () {
            var $form = $('form[name=register]'),
                $regCountElement = $('.js-registration-count'),
                url = $form.attr('action');

            //press x to json
            $.getJSON(url, function( json ) {
                showContent(json);
            });

            $form.submit(function(){
                $.post(url, $(this).serialize(), function(json) {
                    showContent(json);
                }, 'json');
                return false;
            });

            function showContent(json){
                var list = "";
                json.registrations.map(function(reg){
                    var groups = "";
                    if(reg.groups){
                        groups = '<div class="groups">'+ reg.groups +'</div>';
                    }

                    list += '<div class="human"><div class="nick">'+ reg.nick  +'</div>' + groups +'</div>';
                });

                updateVisitorCount(json);

                $('.js-registrations').empty().append(list);
            }

            function updateVisitorCount(json){
                var count = (json.registrations || []).length;
                $regCountElement.text(count);
            }
        });
