section#ticket(aria-label="ticket")
    h2 Ticket information
        a.header-anchor(href="#ticket" aria-hidden="true")= anchorSymbol

    div.ticket
        h3.ticket__headline.
            Regular Ticket 35€
        h4.ticket__subline.
            including breakfast / sleeping
        p.ticket__description.
            The regular ticket is for all who like to visit and enjoy the party in its entirety. It comes with the following features:
        ul.ticket__features
            li Valid for the entire duration of the party (3 days)
            li A table space to put your stuff on inside the party hall
            li A place to sleep in the sleeping hall (in the backstage area, please bring mattresses/sleeping bags)
            li Breakfast included


    div.ticket
        h3.ticket__headline.
            Supporter Tickets 70€ – 500€
        h4.ticket__subline.
            including T-Shirt + breakfast/sleeping
        p.ticket__description.
            The supporter ticket provides a considerable boost to what we can spend on party features. This will help us get better equipment, food, networking and other expenses and improve everyone’s party experience greatly. In addition to all of the standard ticket features above, as a supporter-ticket holder you will:
        ul.ticket__features
            li Be mentioned on our website as a supporter (unless you prefer to remain anonymous – simply tell us during the payment)
            li Be mentioned at the prizegiving as a supporter (unless you prefer to remain anonymous)
            li You can send us a slide which will be regularly shown on the big screen during the party
            li We will reserve you a Deadline 2019 T-Shirt in your size
            li We will love you eternally. &lt;3

    div.ticket
        h3.ticket__headline.
            Day Ticket Friday 15€ / Saturday 20€
        h4.ticket__subline.
            without breakfast/sleeping
        p.ticket__description.
            It's only possible for you to come on one day? Then you can buy a day ticket on the spot.
        ul.ticket__features
            li No breakfast/sleeping included
            li Only valid for one day
            li A table space can't be guaranteed (but ususally we have enough space for everybody)

    div.ticket
        h3.ticket__headline.
            Discounted Ticket 20€
        p.ticket__description.
            The discounted Ticket holds the same features as the regular Ticket.<br>
            It’s given out on mutual trust basis to the following people:
        ul.ticket__features
            li First time demoparty visitors: We want to encourage newcomers to come to Deadline! So if you’re unsure on whether it’s worth it or not take this opportunity, come around and be part of it!
            li People who could not afford to come otherwise: Eg. a low income, a far and expensive trip, etc. We don’t expect you to send us detailed explanations or copies of your account statement. Just be fair and don’t take this ticket if you could easily afford the other one, since we have a limited party budget.